# Xcode
MacRight.xcodeproj/
build/
Scripts/__pycache__/
*.xcuserdata
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Claude
.claude/
